<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>Demo Module</name>
	<description>Authors Demo module</description>
	<uri_segment>demo</uri_segment>

    <!-- Has this module an admin panel ? -->
    <has_admin>true</has_admin>

    <!--
        Group who can access to the admin panel of the module
        Groups can be :
        - super-admins
        - admins
        - editors
    -->
    <access_group>editors</access_group>

    <!-- Module's Database installation script. -->
    <database script="database.xml"></database>

</module>
