<table class="table" border="0">
<tbody>
<tr>
	<th class="odd small">Place</th>
	<th class="even small">Titre</th> 
	<th class="odd">Titre</th> 
	<th class="even">Titre</th> 
	<th class="odd small">Titre</th>
</tr>
<tr class="light">
	<td class="odd">1</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="dark">
	<td class="odd">2</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="light">
	<td class="odd">3</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="dark">
	<td class="odd">4</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="light">
	<td class="odd">5</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="dark">
	<td class="odd">6</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="light">
	<td class="odd">7</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="dark">
	<td class="odd">8</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="light">
	<td class="odd">9</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>
<tr class="dark">
	<td class="odd">10</td>
	<td class="even">drap</td>
	<td class="odd">Nom</td>
	<td class="even">Nom</td>
	<td class="odd">points</td>
</tr>

</tbody>
</table>