/* larger canvas, spectrum + EQ visualization and other items */
.ui360-vis,
.ui360-vis .sm2-360ui,
.sm2-inline-list .ui360-vis {
 width:160px;
 height:160px;
}
.ui360-vis.small,
.ui360-vis.small .sm2-360ui,
.sm2-inline-list .ui360-vis.small {
 width:100px;
 height:100px;
}
.ui360-vis {
 position:relative;
 padding-top:1px;
 padding-bottom:1px;
/*
 margin-bottom:-18px; */ /* approximate "line height" we want */
 margin-left:0px;
 background-position:22.6% 50%;
}
.sm2-inline-list .ui360-vis {
 cursor:pointer
}
.ui360-vis a {
 font:14px "helvetica neue",helvetica,monaco,lucida,terminal,monospace;
 white-space:nowrap;
 text-indent:0px;
 top:46%;
}
.sm2-inline-list .ui360-vis a {
 line-height:160px;
 top:auto;
}
.sm2-inline-list .ui360-vis.small a {
 line-height:100px;
}
.ui360-vis .sm2-360ui {
	margin-left: -5px;
}
.ui360-vis .sm2-timing {
 font:bold 24px "helvetica neue",helvetica,monaco,lucida,terminal,monospace;
 color:#333;
 text-align:center;
 line-height:160px;
 text-indent:0px;
}
.ui360-vis.small .sm2-timing {
 font:bold 14px "helvetica neue",helvetica,monaco,lucida,terminal,monospace;
 line-height:100px;
}
.ui360-vis.small .sm2-timing {
 line-height:100px;
}
.sm2-inline-list .ui360-vis,
.sm2-inline-list .ui360-vis .sm2-360ui {
 margin-left:0px;
}
.sm2-inline-list .ui360-vis {
 margin:8px 13px 7px 0px;
 padding-left:0px;
 background-position:50% 50%;
}
.sm2-inline-list .ui360-vis .sm2-360ui {
 border:1px solid #eee;
 /* offset the border */
 margin-left:-1px;
 margin-top:-1px;
}
.sm2-inline-list .ui360-vis a {
 position:absolute;
 display:inline;
 left:0px;
 bottom:0px;
 top:1px;
 width:100%;
 height:99%;
 *height:160px;
 overflow:hidden;
 font-size:small;
 font-weight:300;
 color:#333;
 margin:0px;
 padding:0px;
 line-height:488px; /* bottom vertical alignment for text */
 *line-height:480px; /* IE again */
 text-align:center;
 border-radius:0px;
}
.sm2-inline-list .ui360-vis.small a {
	*height:100px;
}
.sm2-inline-list .ui360 a:hover {
 background-color:transparent; /* reset */
}
.sm2-inline-list .ui360-vis:hover .sm2-360ui,
.sm2-inline-list .ui360-vis a.sm2_link:hover,
.sm2-inline-list .ui360-vis a.sm2_link:active,
.sm2-inline-list .ui360-vis a.sm2_link:focus {
 background-color:transparent;
}
.sm2-inline-list .ui360-vis:hover a.sm2_link {
 background-color:#fafafa;
 *background-color:transparent; /* eh, screw IE. */
}
.ui360-vis .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_playing .sm2-360btn {
 width:48px;
 height:48px;
 margin-left:-24px;
 margin-top:-24px;
 border-radius: none;
}
.ui360-vis,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn,
.ui360-vis .sm2-360btn-default {
 background:transparent url(360-button-vis-play.png) no-repeat 50% 50%;
 *background-image:url(360-button-vis-play.png);
 cursor:pointer;
}
.ui360-vis:hover .sm2-360btn,
.ui360-vis .sm2-360btn-default:hover,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn:hover {
 background:transparent url(360-button-vis-play-light.png) no-repeat 50% 50%;
 cursor:pointer;
}
.ui360-vis .sm2-360ui.sm2_playing .sm2-360btn:hover,
.ui360-vis .sm2-360btn-playing:hover {
 background:transparent url(360-button-vis-pause-light.png) no-repeat 50% 50%;
 cursor:pointer;
}
.ui360-vis {
 overflow: hidden;
 background-position: 50%;
}
.ui360-vis .sm2-360btn-default {
}
.ui360-vis .sm2-360ui.sm2_dragging .sm2-360btn {
 visibility: hidden;
}