RewriteEngine On

# The RewriteBase / instruction is commented. Remove the "#" to uncomment
# RewriteBase /

# Maintenance
# Uncomment these lines to display the off.html page to other IP than the one bellow
#RewriteCond %{REMOTE_ADDR} !^127.0.0.1$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*) off.html

# Production
# Keep these lines even in maintenance mode, to have an access to the website
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt)
RewriteRule ^(.*)$ index.php/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(application|modules|plugins|system|themes) index.php/$1 [L]
