*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    padding:0;
    margin:0;
    background: #000;
}

.header {
    position: fixed;
    background-color: #000;
    padding:5px 10px;
    width: 100%;
    border-bottom: solid 1px #555;
}
.header .buttons{
    float: right;
}

.header .title{
    max-width: 75%;
    color: #eee;
    font-family: Andale Mono,monospace;
    font-size: 12px;
    overflow: hidden;
    float: left;
    line-height: 25px;
}

.terminal {
    font-family: Andale Mono,monospace;
    font-size: 12px;
    float: left;
    width: 3000px;
    min-height: 130px;
    background: none repeat scroll 0 0 #000;
    line-height: 1.5em;
    color: #63DE00;
    padding:20px;
}
.terminal.error {
    color: #bd2a1c;
}