#filemanagerWindow_content{
	height:100%;
}

div.filemanager-container { display: none; }
div.filemanager * { outline: 0; }
div.filemanager a img { border: 0 }

div.filemanager-container, div.filemanager, div.filemanager button, div.filemanager label, div.filemanager h1 {
	width: auto;
	margin: 0;	
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
	height:100%;
	overflow: hidden;
}

div.filemanager {
	background: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
/*
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
*/
}

div.filemanager div.filemanager-menu {
	position: absolute;
	height: 32px;
/*	left: 35%;*/
	right: 20px;
	bottom: 15px;
	line-height: 30px;
	z-index: 1;
}

div.filemanager button {
	font-family:Arial,Helvetica,sans-serif;
	border:1px solid #fff;
	margin: 4px 5px;
	color:#FFFFFF;
	cursor:pointer;
	font-size:11px;
	padding:2px 6px;
	height: 24px;
	vertical-align: middle;
	line-height: normal;
	background:url(../../../images/button-bg.jpg) no-repeat 0 50%;
}

div.filemanager-engine-trident4 button, div.filemanager-engine-trident5 button {
	padding: 0 .25em;
	overflow: visible;
}

div.filemanager-menu button {
	float: right;
}

div.filemanager button:hover, div.filemanager button.hover, div.filemanager button:focus {
	background:url(../../../images/button-bg.jpg) no-repeat -200px 50%;
}

div.filemanager button.disabled, div.filemanager button.disabled:hover, div.filemanager button.disabled:focus,
div.filemanager button.filemanager-open.disabled, div.filemanager button.filemanager-open.disabled:hover, div.filemanager button.filemanager-open.disabled:focus {
	cursor: default;
	color: #666;
	text-shadow: none;
	background: none;
	background-color: #ddd;
/*	border-color: #bababa;*/
}

div.filemanager button.filemanager-open {
	background:url(../../../images/submit-bg.jpg) no-repeat 0 50%;
	margin-right:10px;
}
div.filemanager button.filemanager-open:hover, div.filemanager button.filemanager-open.hover, div.filemanager button.filemanager-open:focus {
	background:url(../../../images/submit-bg.jpg) no-repeat -200px 50%;
}

div.filemanager-menu label {
	cursor: pointer;
	float: right;
	width: auto;
	height: auto;
	line-height: 25px;
	padding-top:10px;
	margin-right:15px;
	font-size: 11px;
}

div.filemanager-menu div.loader {
	float: left;
	width: 16px;
	height: 16px;
	margin: 12px 0 0 15px;
	background: url(../Assets/loader.gif) no-repeat;
}

div.filemanager ul {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.8em;
	overflow: auto;
	overflow-x: hidden;
	zoom: 1;
}

div.filemanager ul li {
	background: none;
	list-style-image: none;
	list-style-type: none;
	list-style: none;
	line-height: 1.8em;
	margin: 0;
	padding: 0;
	height: 21px;
	white-space: nowrap;
	position: relative;
	min-width: 150px;
}

div.filemanager ul.filemanager-browser {
	left: 0px;
	top: 0px;
	height: 100%;
	width: 30%;
	border: 0;
	float:left;
	border-right: 1px solid #bebebe;
	background: url(../Assets/filelist.png) repeat-x #abbbd1;
}

div.filemanager-container span.fi {
	height: 20px;
	line-height: 1.6em;
	padding-left: 5px;
	color: #000;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

div.filemanager-container span.fi span {
	display: block;
	width: 70%;
	overflow: hidden;
	min-width: 90px;
	white-space: nowrap;
	margin-left:20px;
}

div.filemanager-container span.drag span, div.filemanager-engine-trident4 ul li span.fi span, div.filemanager-engine-trident5 ul li span.fi span, div.filemanager-engine-presto ul li span.fi span, div.filemanager ul li:hover span.fi span {
	overflow: hidden;
}

div.filemanager ul li span.dir {
	background-color: transparent;
}

div.filemanager ul li span.droppable {
	background-color: #99b7e7;
}

ul.filemanager-browser a, ul.filemanager-browser span {
	position: relative;
}

div.filemanager ul li a.selected, div.filemanager ul li span.selected {
/*	background: url(../Assets/filelist_selected.png) repeat-x;*/
	background: #93adc8;
	color: #eee;
	outline: none;
}

div.filemanager-container span.fi img {
	display: block;
	float: left;
	margin: 1px 3px 0 0;
}

div.filemanager-container span.browser-icons {
	position: absolute;
	right: 3px;
	top:0;
}
div.filemanager-container span.fi img.browser-icon {
	float: right;
}

div.filemanager-container span.move img.browser-icon {
	display: none;
}

div.filemanager span.notice {
	position: absolute;
	bottom: 16px;
	left: 16px;
}

div.filemanager div.filemanager-close {
	position: absolute;
	right: -12px;
	top: -12px;
	height: 24px;
	width: 24px;
	z-index: 2;
	cursor: pointer;
}

div.filemanager-infos {
/*	position: absolute;*/
/*	left: 35%;*/
/*	top: 26px;*/
	width: 70%;
	height: 90%;
	line-height: 1.6em;
	
	margin-left: 30%;
	
}

div.filemanager-head {
	height: 32px;
	overflow: hidden;
	border-bottom: solid 1px #d5d9dc;
	margin-left: 1px;
	background-color: #f2f2f2;
}

img.filemanager-icon {
	float: left;
	margin: 8px 12px;
}

div.filemanager h1 {
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	color: #333;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	background-color: transparent;
}

div.filemanager h2 {
	margin: 0;
	border-top: 1px solid #bebebe;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 0 0 12px;
	clear: both;
}

div.filemanager dl {
	margin: 5px 0 10px 0;
	width: 100%;
	clear: both;
	overflow: auto;
}

div.filemanager dt, div.filemanager dd {
	float: left;
	line-height: 21px;
	font-size: 11px;
	margin-left: 3%;
}

div.filemanager dt {
	clear: both;
	width: 22%;
	margin-left: 5%;
	font-weight: bold;
}

div.filemanager dd {
	width: 60%;
	white-space: nowrap;
	overflow: auto;
}

div.filemanager div.margin {
	margin-left: 15px;
}

div.filemanager dd.filemanager-dir a.icon {
	border: 1px solid #bebebe;
	padding: 2px 5px 2px 20px;
	text-decoration: none;
	background: #f2f2f2 url(../Assets/Icons/dir.png) 2px 0 no-repeat;
	color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/* Ionize hack */
	display: inline;
}

div.filemanager dd.filemanager-dir a.icon:hover {
	text-decoration: none;
	background-color: #fff;
}

div.filemanager dd.filemanager-dir a.selected, div.filemanager dd.filemanager-dir a.selected:hover {
	margin: 0 1px;
	background-color: transparent;
	border: none;
	cursor: auto;
}

div.filemanager-preview {
	margin-top: 5px;
	padding: 15px 12px 0 12px;
	border-top: solid 1px #d5d9dc;
}

div.filemanager-preview dl {
	border-top: solid 1px #d5d9dc;
	margin-top: 15px;
	padding-top: 5px;
}

div.filemanager-preview img.preview {
	margin: 0 auto 1em;
	display: block;
/*	max-height: 100px;*/
	max-width: 100%;
	background: transparent;
}
div.filemanager-uploader {
	overflow: hidden;
}
div.filemanager-engine-trident4 div.filemanager-preview img.preview {
	height: 100px;
}

div.filemanager-preview ul, div.filemanager-preview div.textpreview {
	border: 1px solid #bebebe;
	background: #fff;
	padding: 2px;
	margin: 1em auto 30px auto;	
	width: 90%;
	overflow: auto;
}

div.filemanager-preview div.textpreview {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

div.filemanager-preview div.object {
	width: 250px;
	margin: 0 0 10px 30%;
	overflow: hidden;
}

div.filemanager-container img.browser-add {
	position: absolute;
	width: 16px;
	height: 16px;
	z-index: 102000;
}

/* UPLOAD */
div.filemanager-container .file span {
	padding: 0 5px 0 0;
}

div.filemanager-container .file .file-size {
	color: #666;
}

div.filemanager-container .file .file-cancel {
	cursor: pointer;
	padding-left: 5px;
	float: right;
}
div.filemanager-container .file .file-progress {
	margin-top: 5px;
	float: right;
	width: 125px;
	height: 12px;
	background-image: url(../Assets/progress.gif);
}

div.filemanager div.checkbox {
	float: left;
	height: 12px;
	width: 16px;
	margin: 7px 3px 0;
	background: url(../Assets/checkbox.png) no-repeat;
}

div.filemanager div.checkboxChecked {
	background-position: 0 -12px;
}

/* SELECTED FILE */
div.selected-file img {
	vertical-align: bottom;
	padding: 0 3px 0 0;
}
div.selected-file span {
	line-height: 16px;
}
div.selected-file .file-cancel {
	cursor: pointer;
	padding: 0 0 0 5px;
}

/* THUMB LIST */
div.filemanager-details {
	overflow: auto;
	height:100%;
	
}
div.filemanager-filelist {
	padding:5px;
}

div.filemanager-filelist .file {
	position: relative;
	float: left;
	margin: 3px;
	padding: 4px;
	
	background-color: #f2f2f2;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	text-align: center;
	white-space: nowrap;
	
	cursor: pointer;
}
div.filemanager-filelist .file:hover {
	background-color: #dee6f0;
}
div.filemanager-filelist .file:hover .name{
	color: #098ED1;
}
div.filemanager-filelist .file .thumb {
	background-repeat: no-repeat;
	background-position: center center;
}

div.filemanager-filelist .file .name{
	overflow: hidden;
	margin-top: 5px;
	font-weight: bold;
}

div.filemanager-filelist .file .thumb.default { background-image: url(../Assets/Icons/thumb_default.png); }
div.filemanager-filelist .file .thumb.mp3 { background-image: url(../Assets/Icons/thumb_music.png); }
div.filemanager-filelist .file .thumb.doc { background-image: url(../Assets/Icons/thumb_doc.png); }
div.filemanager-filelist .file .thumb.docx { background-image: url(../Assets/Icons/thumb_doc.png); }
div.filemanager-filelist .file .thumb.flv { background-image: url(../Assets/Icons/thumb_video.png); }
div.filemanager-filelist .file .thumb.pdf { background-image: url(../Assets/Icons/thumb_pdf.png); }
div.filemanager-filelist .file .thumb.swf { background-image: url(../Assets/Icons/thumb_swf.png); }
div.filemanager-filelist .file .thumb.tar { background-image: url(../Assets/Icons/thumb_zip.png); }
div.filemanager-filelist .file .thumb.wmv { background-image: url(../Assets/Icons/thumb_video.png); }
div.filemanager-filelist .file .thumb.xls { background-image: url(../Assets/Icons/thumb_xls.png); }
div.filemanager-filelist .file .thumb.xlsx { background-image: url(../Assets/Icons/thumb_xls.png); }
div.filemanager-filelist .file .thumb.zip { background-image: url(../Assets/Icons/zip.png); }
div.filemanager-filelist .file .thumb.bmp { background-image: url(../Assets/Icons/thumb_image.png); }
div.filemanager-filelist .file .thumb.rar,
div.filemanager-filelist .file .thumb.tar,
div.filemanager-filelist .file .thumb.zip { background-image: url(../Assets/Icons/thumb_archive.png); }




/* GALLERY */
div.filemanager button.filemanager-serialize {
	font-weight: bold;
}

div.filemanager-gallery {
	position: absolute;
	z-index: 1000;
	width: 750px;
	height: 144px;
	display: none;

	font-family: Tahoma, sans-serif;
	font-size: 12px;

	border: 1px solid #bebebe;
	border-top: 0;
	background: #eee;

	border-radius-bottomleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottomleft: 5px;

	border-radius-bottomright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottomright: 5px;
	
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
}

div.filemanager-gallery div.howto {
	position: absolute;
	z-index: 1002;
	left: 50px;
	top: 60px;
	
	color: #666;
	font-size: 18px;
	font-style: italic;
}

div.filemanager-gallery ul {
	height: 121px;

	margin: 7px 6px;
	padding: 4px;

	overflow: auto;
	overflow-x: hidden;
	border: 1px solid #bebebe;
	background: #f2f2f2;
}

div.filemanager-gallery ul.droppable {
	background-color: #99b7e7;
}

div.filemanager-gallery ul li {
	position: relative;
	float: left;
	margin: 0;
	width: 79px;
	height: 60px;

	list-style: none;
	
	background: url(../Assets/loader.gif) center center no-repeat;
}

div.filemanager-gallery ul li img {
	padding: 2px;
	width: 75px;
	height: 56px;
	cursor: pointer;
}

div.filemanager-gallery ul li img.filemanager-remove {
	position: absolute;
	right: -7px;
	top: -7px;
	width: 16px;
	height: 16px;
}

div.filemanager-wrapper {
	position: absolute;
	z-index: 1020;
	width: 222px;
	height: 250px;

	font-family: Tahoma, sans-serif;
	font-size: 12px;
	
	border: 1px solid #bebebe;
	background: #eee;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.filemanager-wrapper div.img {
	width: 210px;
	height: 160px;
	margin: 5px;

	border: 1px solid #bebebe;
	background: #fff;
}

div.filemanager-wrapper span {
	display: block;
	margin: 3px 8px 1px;
	font-weight: bold;
}

div.filemanager-wrapper input {
	width: 210px;
	margin: 3px 5px 0;

	border: 1px solid #bebebe;
	background: #fff;
}

div.filemanager-wrapper button {
	margin: 3px 7px;
}

img.filemanager-clone {
	cursor: pointer;
}

/* TIPS */
.tip-filebrowser {
	z-index: 1201;
}
.tip-filebrowser .tip {
	background: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.tip-filebrowser .tip-title {
	color: #fff;
	font-size: 11px;
	padding: 1px 4px;
	line-height: 21px;
	text-align: center;
	font-weight: bold;
}

.tip-filebrowser .tip-text {
	display: none;
}