
body
{
	font-size: 11px;
	font-family: Tahoma, sans-serif;
}

h1, h2
{
	margin: 0 0 10px 0;
	padding: 0;

	color: #666;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 22px;
	min-height: 25px;
}

h2
{
	margin-top: 3em;
}

h1 span
{
	font-size: 11px;
	letter-spacing: 0;
	word-spacing: 0;
	text-shadow: none;
}

.blue
{
	color: #1f52b0;
}

div.content
{
	min-width: 650px;
	min-height: 200px;
	margin: 23px 34px;
	padding: 10px 17px;
	border: 1px solid #b2b2b2;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}

div.content div.example
{
	float: left;
	clear: both;
	margin: 10px 0;
}

div.selected-file div
{
	 padding: 3px;

	 line-height: 1.5em;
}

div.selected-file div img.preview
{
	 padding: 3px;
}

button
{
	margin: 5px 0;
}


/* http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html */
pre
{
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

div.go_home
{
	float: right;
}


#gallery-tn-container
{
	margin: 15px;
	padding: 5px;
	border: 1px solid #b2a0a0;
	background: #fffafa;
	box-shadow: rgba(255, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba(255, 0, 0, 0.3) 0 0 10px;
	-webkit-box-shadow: rgba(255, 0, 0, 0.3) 0 0 10px;
}

#gallery-tn-container div
{
	float: left;

	/* border: green solid 1px; */
	margin: 5px;

}

#gallery-tn-container div a
{
	display: block;
	/*
	width: 250px;
	height: 250px;
	*/
	border: 1px solid #b2a0a0;
	background: #eee2e2;
	padding: 0;
	margin: 0;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#gallery-tn-container div a img
{
	padding: 0;
	margin: 0;
}

/*
 *  http://www.smashingmagazine.com/2007/05/01/css-float-theory-things-you-should-know/
 * -->
 *  http://www.positioniseverything.net/easyclearing.html
 * -->
 *  http://blogs.sitepoint.com/simple-clearing-of-floats/
 */
#gallery-tn-container
{
	overflow: auto;
}



/*
http://jsfiddle.net/api/post/mootools/1.3/dependencies/more,art/
*/

.slider
{
	background: #CCC;
	height: 16px;
	width: 300px;
}
.slider .knob
{
	background: #000;
	width: 16px;
	height: 16px;

	cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

