
body
{
	font-size: 11px;
	font-family: Tahoma, sans-serif;
}

a img
{
	border: 0 none;
}

h1, h2
{
	margin: 0 0 10px 0;
	padding: 0;

	color: #666;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 22px;
	min-height: 25px;
}

h2
{
	margin-top: 3em;
}

h1 span
{
	font-size: 11px;
	letter-spacing: 0;
	word-spacing: 0;
	text-shadow: none;
}

.blue
{
	color: #1f52b0;
}

div.content
{
	min-width: 650px;
	min-height: 200px;
	margin: 23px 34px;
	padding: 10px 17px;
	border: 1px solid #b2b2b2;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}

div.content div.example
{
	float: left;
	clear: both;
	margin: 10px 0;
}

div.selected-file div
{
	 padding: 3px;

	 line-height: 1.5em;
}

div.selected-file div img.preview
{
	 padding: 3px;
}

button
{
	margin: 5px 0;
}


/* http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html */
pre
{
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

div.go_home
{
	float: right;
}


/*
http://jsfiddle.net/api/post/mootools/1.3/dependencies/more,art/
*/

.slider
{
	background: #CCC;
	height: 16px;
	width: 300px;
}
.slider .knob
{
	background: #000;
	width: 16px;
	height: 16px;

	cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

