div.filemanager-container { display: none }
div.filemanager * { outline: 0 }
div.filemanager a img { border: 0 }
div.filemanager-container,
div.filemanager,
div.filemanager button,
div.filemanager label,
div.filemanager h1 {
    width: auto;
    margin: 0;
    font: normal 11px verdana, arial, Tahoma, sans-serif;
    text-transform: none;
    letter-spacing: 0;
}

/* filemanager */
div.filemanager {
    background: #fff;
    position: absolute;
    z-index: 1001;
    width: 75%;
    height: 75%;
    /*: ;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;*/
}

/* filemanager-header */
div.filemanager-header {
    z-index: 3;
    position: absolute;
    top: -30px;
    left: 0px;
    width: 100%;
    height: 14px;
    padding: 8px 0px;
    background: url("../Images/menu.png") repeat-x;
    /* : ;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;*/
    overflow: hidden;
}

/* filemanager-menu */
div.filemanager div.filemanager-menu {
    z-index: 2;
    position: absolute;
    height: 30px;
    left: 35%;
    width: 65%;
    bottom: 0;
    line-height: 30px;
    border-top: 1px solid #bebebe;
    background: url("../Images/menu.png") repeat-x;
    /*  : ;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px -2px 5px -2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
    -webkit-border-radius: 0 0 8px 0;
    -o-border-radius: 0 0 8px 0;*/
}

/*
div.filemanager button {
  cursor: pointer;
  height: 22px;
  line-height: 22px;
  margin: 4px 5px;
  padding: 0 2px;
  
  color: #333;
  text-shadow: #eee 1px 1px 1px;
  
  clear: none;
  background: url("../Images/button.png") repeat-x;
  border: 1px solid #a1aeb9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
*/

div.filemanager button {
    background: url("../../../../images/button-bg.jpg") no-repeat scroll 0 50% transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 24px;
    line-height: normal;
    margin: 4px 5px;
    padding: 2px 6px;
    vertical-align: middle;
}
div.filemanager-engine-trident4 button,
div.filemanager-engine-trident5 button {
    padding: 0 .25em;
    overflow: visible;
}
div.filemanager-menu button { float: right }
div.filemanager button:hover,
div.filemanager button.hover,
div.filemanager button:focus { background: url(../../../../images/button-bg.jpg) no-repeat -200px 50% }

/*
div.filemanager button:hover, div.filemanager button.hover, div.filemanager button:focus {
  border: 1px solid #5f676e;
}
*/

/*
div.filemanager button.disabled, div.filemanager button.disabled:hover, div.filemanager button.disabled:focus {
  cursor: default;
  color: #666;
  text-shadow: none;
  background: url("../Images/button_disabled.png") repeat-x;
  border-color: #bababa;
}
*/

div.filemanager button.disabled,
div.filemanager button.disabled:hover,
div.filemanager button.disabled:focus,
div.filemanager button.filemanager-open.disabled,
div.filemanager button.filemanager-open.disabled:hover,
div.filemanager button.filemanager-open.disabled:focus {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #666666;
    cursor: default;
    text-shadow: none;
}

/*
div.filemanager button.filemanager-open {
  font-weight: bold;
}
*/

div.filemanager button.filemanager-open {
    background: url("../../../../images/submit-bg.jpg") no-repeat scroll 0 50% transparent;
    margin-right: 10px;
}
div.filemanager-menu label {
    cursor: pointer;
    float: right;
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 11px;
}
div.loader {
    width: 16px;
    height: 16px;
    background: url("../Images/loader.gif") no-repeat;
}
div.filemanager-header div.loader {
    position: absolute;
    top: 7px;
    right: 30px;
}
div.filemanager-browserheader div.loader {
    position: absolute;
    top: 4px;
    left: 5px;
}
div.filemanager-preview div.loader {
    position: relative;
    left: 50%;
    right: auto;
    margin-left: -8px;
}

/* filemanager-browserscroll */
div.filemanager div.filemanager-browserscroll {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}
div.filemanager div.filemanager-browserscroll li.list { height: 21px }
div.filemanager div.filemanager-browserscroll li.thumb { height: 54px }
div.filemanager ul {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1.8em;
    zoom: 1;
}
div.filemanager ul li {
    background: none;
    list-style-image: none;
    list-style-type: none;
    list-style: none;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
div.filemanager div.filemanager-browsercontainer {
    height: 100%;
    width: 35%;
    border: 0;
    border-right: 1px solid #bebebe;
    background: #dee6f0 url("../Images/filelist.png") repeat-x bottom left;
    overflow: hidden;
    /*  : ;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
    -webkit-border-radius: 0 0 0 8px;
    -o-border-radius: 0 0 0 8px;*/
}
div.filemanager-browsercontainer div.filemanager-browserheader {
    left: 0;
    top: 0;
    width: 100%;
    height: 25px;
    background: #C3CDD9;
    border-bottom: 1px solid #bebebe;
    text-align: right;
}
div.filemanager-browsercontainer div.filemanager-browserheader a.listType,
div.filemanager-browsercontainer div.filemanager-browserheader a#togggle_side_thumbs {
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    margin: 5px;
    cursor: pointer;
}
div.filemanager-browsercontainer div.filemanager-browserheader a.listType#togggle_side_list { background: url("../Images/application_side_list.png") no-repeat }
div.filemanager-browsercontainer div.filemanager-browserheader a.listType#togggle_side_boxes { background: url("../Images/application_side_boxes.png") no-repeat }
div.filemanager-browsercontainer div.filemanager-browserheader a#togggle_side_thumbs { 
	background: url("../Images/application_side_thumbs.png") no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}
div.filemanager-container span.fi {
    height: 21px;
    line-height: 1.8em;
    padding-left: 5px;
    color: #000;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    cursor: pointer;
}
div.filemanager-container span.thumb {
    height: 48px;
    padding: 3px 0 3px 3px;
    margin: 0;
    overflow: hidden;
}
div.filemanager-container span.fi:hover,
div.filemanager-container span.fi.hover { background: #E2EBF6 }
div.filemanager-container span.fi span,
div.filemanager-container span.thumb {
    white-space: nowrap;
    display: block;
    overflow: hidden;
}
div.filemanager-container span.thumb span { margin-top: 14px }
div.filemanager-container span.thumb img.thumb {
    width: 48px;
    height: auto;
}
div.filemanager-container span.drag span,
div.filemanager-engine-trident4 ul li span.fi span,
div.filemanager-engine-trident5 ul li span.fi span,
div.filemanager-engine-presto ul li span.fi span,
div.filemanager ul li:hover span.fi span { overflow: hidden }
div.filemanager ul li span.dir { background-color: transparent }
div.filemanager ul li span.droppable,
div.filemanager-gallery ul.droppable { background-color: #99b7e7 }
ul.filemanager-browser a,
ul.filemanager-browser span { position: relative }

/*
div.filemanager ul li a.selected, div.filemanager ul li span.selected {
  background: url("../Images/filelist_selected.png") repeat-x;
  color: #eee;
  outline: none;
}
*/

div.filemanager ul li span.thumb.selected,
div.filemanager ul li span.fi.selected {
    background: #8EAAD6;
    color: #eee;
    outline: none;
}
div.filemanager-container span.fi img {
    float: left;
    margin: 3px 3px 0 0;
}
div.filemanager-container span.thumb img {
    float: left;
    margin: 0 5px 0 0;
}
div.filemanager-container span.file img {
    border: none;
    margin-top: 5px;
}
div.filemanager-container span.fi img.browser-icon {
    float: right;
    border: none;
}
div.filemanager-container span.move img.browser-icon { display: none }
div.filemanager span.notice {
    position: absolute;
    bottom: 16px;
    left: 16px;
}
div.filemanager a.filemanager-close {
    z-index: 4;
    display: block;
    position: absolute;
    right: 6px;
    top: -23px;
    height: 16px;
    width: 16px;
    background: url("../Images/close.png") no-repeat;
    cursor: pointer;
}
div.filemanager a.filemanager-close:hover { background-position: 0px -16px }
div.filemanager div.filemanager-close img { padding: 2px }
div.filemanager-infos {
    z-index: 0;
    position: absolute;
    left: 35%;
    top: 0;
    width: 63%;
    height: 92%;
    padding: 0px 1%;
    line-height: 1.6em;
    overflow: auto;
}
div.filemanager-head {
    height: 32px;
    overflow: hidden;
}
img.filemanager-icon {
    float: left;
    margin: 10px 12px;
}
div.filemanager h1 {
    margin: 0;
    padding: 0;
    height: 32px;
    line-height: 32px;
    color: #333;
    font-size: 20px;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
}
div.filemanager h2 {
    margin: 0;
    border-top: 1px solid #bebebe;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0 0 5px;
    clear: both;
}
div.filemanager dl {
    margin: 5px 0;
    width: 100%;
    clear: both;
    overflow: auto;
}
div.filemanager dt,
div.filemanager dd {
    float: left;
    line-height: 20px;
    font-size: 11px;
    margin-left: 3%;
}
div.filemanager dt {
    clear: both;
    width: 22%;
    font-weight: bold;
}
div.filemanager dd {
    width: 60%;
    white-space: nowrap;
    overflow: auto;
}
div.filemanager div.margin { margin-left: 15px }
div.filemanager a.filemanager-dir-title {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}
div.filemanager a.filemanager-dir-title:hover { color: #999 }
div.filemanager input.filemanager-dir {
    margin-top: -4px;
    background-color: #fbfbfb;
    background-image: none !important;
    border: 1px solid #ccc;
    width: 70%;
    padding: 1px 5px;
    font-size: 14px;
}
div.filemanager span.filemanager-dir a.icon {
    border: 1px solid #bebebe;
    padding: 2px 5px 2px 20px;
    text-decoration: none;
    background: #eee url("../Images/Icons/dir.png") 2px 0 no-repeat;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/* not selectable path */
div.filemanager span.filemanager-dir span.icon {
    border: none;
    padding: 2px 5px 2px 20px;
    background: url("../Images/Icons/dir.png") 2px 0 no-repeat;
    color: #999;
}
div.filemanager span.filemanager-dir a.icon:hover {
    text-decoration: none;
    background-color: #fff;
}
div.filemanager span.filemanager-dir a.selected,
div.filemanager span.filemanager-dir a.selected:hover {
    margin: 0 1px;
    background-color: transparent;
    border: none;
    cursor: auto;
}
div.filemanager-preview {
    border-top: 1px solid #D5D9DC;
    margin-top: 5px;
    padding: 5px 12px 0;
}
div.filemanager-preview img.preview {
    margin: 0 auto 1em;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    max-width: 100%;
}
div.filemanager-preview img.preview:hover { border: 1px solid #666 }
div.filemanager-preview ul li img,
div.filemanager-uploader ul li img {
    margin-top: 2px;
    margin-right: 4px;
    float: left;
}
div.filemanager-engine-trident4 div.filemanager-preview img.preview { height: 100px }
div.filemanager-preview ul,
div.filemanager-preview div.textpreview {
    border: 1px solid #bebebe;
    background: #fff;
    padding: 2px;
    margin: 1em auto;
    width: 490px;
    height: 280px;
    overflow: auto;
}
div.filemanager-preview div.textpreview pre { font: 10px Verdana, Arial, Helvetica, sans-serif }
div.filemanager-preview div.object {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
div.filemanager-container img.browser-add {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 2000;
}

/* UPLOAD */
div.filemanager-container .file span { padding: 0 5px 0 0 }
div.filemanager-container .file .file-size { color: #666 }
div.filemanager-container .file .file-cancel {
    cursor: pointer;
    padding-left: 5px;
    float: right;
}
div.filemanager-container .file .file-progress {
    margin-top: 5px;
    float: right;
    width: 125px;
    height: 12px;
    background-image: url("../Images/progress.gif");
}
div.filemanager div.checkbox {
    float: left;
    height: 12px;
    width: 16px;
    margin: 10px 3px 0;
    background: url("../Images/checkbox.png") no-repeat;
}
div.filemanager div.checkboxChecked { background-position: 0 -12px }

/* SELECTED FILE */
div.selected-file img {
    vertical-align: bottom;
    padding: 0 3px 0 0;
}
div.selected-file span { line-height: 16px }
div.selected-file .file-cancel {
    cursor: pointer;
    padding: 0 0 0 5px;
}

/* GALLERY */
div.filemanager button.filemanager-serialize { font-weight: bold }
div.filemanager-gallery {
    position: absolute;
    z-index: 1000;
    width: 750px;
    height: 144px;
    display: none;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid #bebebe;
    border-top: 0;
    background: #eee;
    border-radius-bottomleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -o-border-radius-bottomleft: 5px;
    border-radius-bottomright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-radius-bottomright: 5px;
    -webkit-o-radius-bottomright: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px;
}
div.filemanager-gallery div.howto {
    position: absolute;
    z-index: 1002;
    left: 50px;
    top: 60px;
    color: #666;
    font-size: 18px;
    font-style: italic;
}
div.filemanager-gallery ul {
    height: 121px;
    margin: 7px 6px;
    padding: 4px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #bebebe;
    background: #f2f2f2;
}
div.filemanager-gallery ul li {
    position: relative;
    float: left;
    margin: 0;
    width: 79px;
    height: 60px;
    list-style: none;
    background: url("../Images/loader.gif") center center no-repeat;
}
div.filemanager-gallery ul li img {
    padding: 2px;
    width: 75px;
    height: 56px;
    cursor: pointer;
}
div.filemanager-gallery ul li img.filemanager-remove {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 16px;
    height: 16px;
}
div.filemanager-wrapper {
    position: absolute;
    z-index: 1020;
    width: 222px;
    height: 250px;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid #bebebe;
    background: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
div.filemanager-wrapper div.img {
    width: 210px;
    height: 160px;
    margin: 5px;
    border: 1px solid #bebebe;
    background: #fff;
}
div.filemanager-wrapper span {
    display: block;
    margin: 3px 8px 1px;
    font-weight: bold;
}
div.filemanager-wrapper input {
    width: 210px;
    margin: 3px 5px 0;
    border: 1px solid #bebebe;
    background: #fff;
}
div.filemanager-wrapper button { margin: 3px 7px }
img.filemanager-clone { cursor: pointer }

/* TIPS */
.tip-filebrowser { z-index: 1201 }
.tip-filebrowser .tip {
    background: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: none;
}
.tip-filebrowser .tip-title {
    color: #fff;
    font: normal 9px verdana, arial, Tahoma, sans-serif;
    padding: 1px 4px;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
}
.tip-filebrowser .tip-text { display: none }

/* THUMBNAILS IN PREVIEW LIST */
div.filemanager-details {
    overflow: auto;
    height: 100%;
}
div.filemanager-filelist { padding: 5px }
div.filemanager-filelist .file {
    position: relative;
    float: left;
    margin: 3px;
    padding: 4px;
    background-color: #f2f2f2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
div.filemanager-filelist .file:hover { background-color: #dee6f0 }
div.filemanager-filelist .file:hover .name { color: #098ED1 }
div.filemanager-filelist .file .thumb {
    background-repeat: no-repeat;
    background-position: center center;
}
div.filemanager-filelist .file .name {
    overflow: hidden;
    margin-top: 5px;
    font-weight: bold;
}
